/* soft reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: #a4d8d6;
  color: #0a7877;
  /* background-image: url("../img/bernard-hermant-XFCei-F4mjg-unsplash.jpg"); */
  /* background-image: url("https://picsum.photos/800/600"); */
  font-size: 14px;
  font-family: Georgia;
}

.menu {
  background-color: #a4d8d6;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu a {
  /*background-color: aquamarine; /*serve para depuração dos limites */
  display: block; /* faz o elemento quebrar a linha */
  padding: 10px 20px; /*padding para cima e para os lados*/
  transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover,
.menu a:focus {
  background-color: #0a7877;
  color: #a4d8d6;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

a {
  color: #008030;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

.icons a {
  color: #0a7877;
  text-decoration: none;
}

.site-subtitle,
.site-title {
  color: #0a7877;
  text-align: center;
}

.imagem {
  justify-content: center;
  align-items: center;
  width: auto;
  height: 200px;
}
.logo {
  margin-left: 10vw;
  padding-top: 2em;
}
.animacaoOvo {
  animation: balancar 3s infinite;
}

.campos @keyframes balancar {
  10% {
    transform: scale(1.05, 0.95) rotate(-7deg);
    transform-origin: 50% 100%;
  }
  30% {
    transform: scale(0.95, 1.05) rotate(3deg);
    transform-origin: 50% 100%;
  }
  40% {
    transform: scale(1, 1) rotate(0deg);
    transform-origin: 50% 100%;
  }
}

.animacaoPulo {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: pular;
  animation-timing-function: ease;
}

@keyframes pular {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  30% {
    transform: scale(0.95, 1.05) translateY(-30px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.sign {
  text-align: right !important;
}
@media (max-width: 560px) {
  .padtop {
    padding-top: 2em;
  }
}
@media (min-width: 561px) {
  .padtop {
    padding-top: 4em;
  }
}

.site-title {
  font-size: 4em;
  font-family: "Underdog", cursive;
  /* background-color: blue; */
}

.site-subtitle {
  font-style: italic;
  font-family: "Langar", cursive;
  /* background-color: red; */
  line-height: 1.4em;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  transform: scale(0.2) translate(50vh);
  opacity: 0;

  animation: linear 2s animacaoTitulo;
}

@keyframes animacaoTitulo {
  0% {
  }
  100% {
    transform: scale(1) translate(0);
    opacity: 1;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  /*   background: navy; */
  background-image: url("../img/bernard-hermant-XFCei-F4mjg-unsplash.jpg");
  /* background-position: bottom; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  height: 100vh;
  /* width: 100%; */
}

.blur {
  background: rgba(
    255,
    255,
    255,
    0.2
  ); /* Make sure this color has an opacity of less than 1 */
  backdrop-filter: blur(8px); /* This be the blur */
  height: 100vh;
}

.sobre,
.presentes,
.registro,
.fotos,
.contato {
  padding: 2em;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .sobre,
  .presentes,
  .registro,
  .fotos,
  .contato {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sobre p {
  text-indent: 1.4em;
  margin-bottom: 1.4em;
  text-align: justify;
}

.sobre .avatar {
  float: right;
  width: 150px;
  height: auto;
  margin-right: 2em;
  /* clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%); */
}

@media (min-width: 560px) {
  .sobre .avatar {
    float: right;
    width: 150px;
    height: auto;
    margin-right: 2em;
    /* clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%); */
  }
}

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: space-between;
    height: calc(100vh - 4em - 48px - 4em);
  }
}

.contato h2,
.gifts h2,
.register h2,
.portfolio h2 {
  font-family: "Langar", cursive;
  margin-bottom: 1.5em;
}

.contato .icons {
  text-align: center;
}

.registro a {
  color: #008030;
  font-size: 3em;
  transition: text-shadow 0.5s;
}

.contato a {
  color: #008030;
  font-size: 6em;
  transition: text-shadow 0.5s;
}

.registro a:active,
.contato a:active,
.registro a:hover,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(0, 255, 255, 0.9);
}

.img-portfolio {
  width: 100%;
  height: 180px;
  /* object-fit: cover; */
  object-fit: left bottom;
  transition: transform 500ms;
}

/* .img-portfolio:hover {
    transform: scale(1.2) rotate(-2deg);
  } */

.flip-card {
  perspective: 1000px;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  transform-style: preserve-3d;
}

.card-back {
  width: 100%;
  height: 180px;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* a4d8d6 azul claro - luz*/
/* 80dedc azul claro*/
/* 1ec1c0 azul claro - sombra*/

/* acd8a4 verde claro - luz*/
/* 81de80 verde claro*/
/* 36c11e verde claro - sombra*/

#photos {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
#photos.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 14.28%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
